@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-blue: #3CF;
    --color-jaune: #FC3;
    --background-head: rgba(250, 250, 250, 0.1);
    --color-white: #fff;
    --background-blue: #162239fc;
    --border-bottom: #121b2f;
    --color-jaune-dark: #f5a425;
}

.test{
    height: 100%;
    background: url('../../assets/images/contact-bg.jpg') center center / cover;
}
.big_size {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
 
}

.secound_box {
    flex-grow: 1;
    overflow-y: auto;
}

.lesson .container {
    position: relative;
    width: 400px;

    .header {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        margin: 0 10px;
    }

    .info-course {
        margin-top: 10px;

        h4 {
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
        }

        .info-fo {
            margin-top: 10px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }

            .pay {
                color: #ff6347;
            }

            .free {
                color: #32cd32;
            }
        }
    }
}


.navbar-inverse {
    max-width: 100%;
    background-color:#121b2f; 
  }


.hide {
    display: none;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
}




/********************header*****************************/

header {
    position: relative;
    margin-bottom: 100px;
    overflow: hidden;
}


/****nav***/

nav {
    position: fixed;
    z-index: 200;
    justify-content: center;
    margin: auto;
}



.nav-color {
    width: 100%;
    opacity: .95;
}

.navbar-position {
    display: flex;
    justify-content: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 1em;
    font-weight: 600;
}

.logo {
    font-size: 2.3em;
    font-weight: 900;
}

.logo span {
    color: #f5a425;
}

.list-style {
    margin-left: 1rem;
    border: transparent 3px solid;
    color: #fff;
}

.list-style a:hover {
    color: #f5a425;
}


/*color nav**/

a#navbarDropdownMenuLink,
a#navbarDropdownMenuLink:hover,
a.nav-link:hover {
    color: #fff !important;
}

.navbar-nav {
    transition: all 10s ease;
}

.dropdown-style {
    border-bottom: 1px solid var(--border-bottom);
    padding: .8rem;
    font-weight: 500;
    color: #fff;
}

.dropdown-menu {
    margin-top: 2px;
    background-color: #121b2f;
}

.dropdown-item:hover {
    background-color: transparent;
}

.dropdown-style:hover {
    color: #f5a425;
}

/*********why choose us**********/
.main_box {
    color: #ededed;
    // color: black ;
    height: 470px;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding-bottom: 5rem;
    background: url('https://www.york.ac.uk/media/study-new/postgraduate/researchdegrees/low_Sociology_JohnHoulihan_4180_0847.jpg') center center / cover;
    filter:grayscale(70%);;
    filter: brightness(90%);

    .box_name_staff {
        text-align: left;
        float: left;
        color: inherit; 
        filter: none;

        .line_under_text{
            width: 150px;
            height: 6px;
            margin-top: 30px;
            background-color: #00ff40;
        }
        h1{
            font-size: 60px;
            font-weight: 900;
        }
        h3{
            font-size: 55px;
            color:#00ff40;
        }
    }
}


.whyUs {
    color: #fff;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding-bottom: 5rem;
}

.ligne {
    width: 2px;
    background-color: rgba(250, 250, 250, 0.1);
    margin: auto;
    padding: 0;
}

.header {
    color: #fff;
    margin: auto;
    text-align: center;
    border: rgba(250, 250, 250, 0.1) 2px solid;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem;
    font-weight: 600;
}

.categorie ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.categorie ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
}

.list-category {
    cursor: pointer;
}

.icon {
    border: #f5a425 solid 2px;
    padding: 5px;
}

.whyUs .content {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.whyUS .content h4 {
    font-size: 5em;
    font-weight: 600;
}

.whyUS .content p {
    margin-top: 1rem;
    font-size: 1em;
}

a.link {
    color: #3CF;
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
    border: none;
    text-transform: initial;
}

a.link:hover {
    color: #FC3;
}

.active {
    color: #f5a425;
}


.text_title {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    height: 500px;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 50px;
}



::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #152036;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin: 0;
    padding: 20px;
    border-top: #fff 2px solid;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}


/************large devices only ********/

@media (min-width: 1200px) {

    /***********header************/
    /***navbar***/
    .navbar-position {
        justify-content: end;
    }

    .list-style:hover {
        border: #f5a425 3px solid;
    }

    .list-style a:hover {
        color: #fff;
    }

    .dropdown-menu a:hover {
        color: #f5a425;
    }

    /**presentation ***/
    .presentation {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .pre-content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-self: center;
        align-content: center;
        justify-items: center;
        justify-self: center;
    }

    /*****contact*****/
}


/********** Medium devices only *********/

@media (min-width: 992px) and (max-width: 1199px) {
    .list-style:hover {
        border: #f5a425 3px solid;
    }

    .list-style a:hover {
        color: #fff !important;
    }

    /***presentation****/
    .pre-content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-self: center;
        align-content: center;
        justify-items: center;
        justify-self: center;
    }

    .contact {
        height: 100vh;
    }
}


/********Small divices only *************/

@media (min-width: 768px) and (max-width: 991px) {

    /******why choose us*********/
    .categorie ul li {
        font-size: 15px;
        font-weight: 600;
        justify-content: space-between;
    }

    .whyUs .why {
        text-align: center;
    }

    .whuUs .icon {
        padding: 4px;
        font-size: 10px;
    }



    /* .video-des {
        margin-top: 5rem;
    } */
    /******contact********/
    .form {
        margin-bottom: 2rem;
    }
}


/****** Extra small devices only ********/

@media (max-width: 767px) {

    /******why choose us*********/
    .categorie ul li {
        font-size: 15px;
        font-weight: 600;
        justify-content: space-between;
    }

    .whyUs .why {
        text-align: center;
    }

    .whuUs .icon {
        padding: 4px;
        font-size: 10px;
    }

    /***features****/
    .features {
        background-color: rgb(16, 16, 41);
        padding-bottom: 2rem;
        width: 100%;
        padding: 20px;
    }

    .features-post {
        position: initial;
        width: auto;
        margin: auto;
        display: flex;
    }

    .features-content {
        position: initial;
        text-align: justify;
        margin: 0px;
        transition: height 0.1s ease;
        padding: 5px 20px;
    }


    .description h1 {
        font-size: 7vw;
    }

    .description p {
        font-size: 20px;
    }

    .description button {
        font-size: 15px;
    }

    /***timer*****/
    .number {
        font-size: 6vw;
        font-weight: 700;
    }

    .category {
        font-size: 3vw;
    }

    /****presentation****/
    .presentation {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .pre-content {
        text-align: center;
    }

    .presentation h4 {
        font-size: 1.7em;
        text-align: center;
    }

    .video-des {
        margin-top: 5rem;
    }

    /***contact*****/
    .form {
        margin-bottom: 2rem;
    }
}

@media (max-width: 450px) {


    /***nav***/
    .logo {
        font-size: 8vw;
    }

    .navbar-dark .navbar-toggler-icon {
        height: 1.2em;
        width: 1.2em;
    }

    /******why choose us*********/
    .categorie ul {
        padding: 0;
    }

    .categorie ul li {
        font-size: 13px;
        font-weight: normal;
        justify-content: space-between;
    }

    .whuUs .icon {
        padding: 3px;
        font-size: 8px;
    }

    .tbl-content {
        height: 400px;
        overflow-x: auto;
        margin-top: 0px;
        border: 1px solid rgba(255, 255, 255, 0.3);
    }


    .navbar-collapse {
        width: 100%;
        display: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 100%;
        /* Position the dropdown menu below the navbar */
        left: 0;
        background-color: #343a40;
        /* Set background color */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* Add shadow for better visibility */
        z-index: 1000;
        /* Ensure dropdown is above other elements */
        transition: all 0.3s ease;
        /* Add smooth transition */
    }

    .navbar-collapse.show {
        display: block;
    }

    .navbar-nav {
        flex-direction: column;
        padding: 10px;
    }

    .nav-item {
        margin: 0;
    }

    .nav-link {
        padding: 10px 20px;
        /* Add padding to navbar links */
        color: #fff;
        /* Set text color */
    }

    .dropdown-menu {
        position: static;
        /* Reset position for dropdown menu */
        opacity: 1;
        /* Ensure dropdown menu is fully visible */
        display: none;
        /* Hide dropdown menu by default */
    }

    .dropdown-toggle {
        display: block;
    }

    .dropdown-menu.show {
        display: block;
    }

    .dropdown-item {
        color: #fff;
        padding: 10px 20px;
    }

    .dropdown-item:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }


    .tbl-content{
        margin-bottom: 40px;
    }

}